<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>User</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styling.css">
  <link rel="stylesheet" type="text/css" href="../static/css/freelancer.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>

<!--NAV BAR-->
<nav class="navbar navbar-inverse navbar-static-top navbar-custom">
  <div class="container">
       <a class="navbar-brand" href="/index">Crew Points</a>
       <ul class="nav navbar-nav">
        <li class="active"><a href="/user">My Points</a></li>
        <li><a href="/rewards">Redeem Rewards</a></li>
        <li><a href="/medals">Medals</a></li>
        <li><a href="/the_crew">The Crew</a></li>
      </ul>
       <form class="navbar-form navbar-right" action="/_userSettings" method="get">
          <button name="setting" type="submit" value="logout" class="btn btn-default">Logout</button>
    </form>
  </div>
</nav>

<div class="container">

    <div id ="username" class="text-center">
        <!--<h1>Hello {{session.name}}</h1>-->
        <h1>Hello User!</h1>
    </div>
    <div id ="points" class="text-center">
        <h1>25</h1>
        <h3>Crew Points</h3>
    </div>
    <div id="trophy" class="text-center">
        <h3>Recent Medal</h3>
        <img src="../static/pictures/trophy.png" style="width:150px;height:150px;">
    </div>
</div>
<script>
$( document ).ready(function() {
    $("#username").hide(0).delay(300).fadeIn(2000)
    $("#points").hide(0).delay(400).fadeIn(2000)
    $("#trophy").hide(0).delay(800).fadeIn(2000)
});
</script>
</body>
</html>
